<?xml version="1.0"?>
<launch>
        <arg name = "robot_name"   default = "ur5e_"/>

        <arg name = "finger1" default = "tactile2x6.STL"/>
        <arg name = "finger2" default = "tactile2x6.STL"/>

        <arg name = "robot_x_pos" default = "0.2"/>
        <arg name = "robot_y_pos" default = "-0.4"/>
        <arg name = "robot_z_pos" default = "0.0"/>
        <arg name = "robot_roll"  default = "0.0"/>
        <arg name = "robot_pitch" default = "0.0"/>
        <arg name = "robot_yaw"   default = "1.57"/>




    <param name="robot_description" command="$(find xacro)/xacro $(find dual_arm_bringup)/xacro/single_ur_robotiq.xacro
                                                robot_prefix:=$(arg robot_name)

                                                robot_x_pos:=$(arg robot_x_pos)
                                                robot_y_pos:=$(arg robot_y_pos) 
                                                robot_z_pos:=$(arg robot_z_pos)
                                                robot_roll:=$(arg robot_roll) 
                                                robot_pitch:=$(arg robot_pitch) 
                                                robot_yaw:=$(arg robot_yaw)

                                                finger1:=$(arg finger1)
                                                finger2:=$(arg finger2)

                                            "/>
    <!-- per fare spawnare il robot nel desisred joint angle, prima lanciare gazebo con argomento paused, poi lanciare il modello ed in fondo tirare -unpaused-->
    <node  name="robot_description" pkg="gazebo_ros" type="spawn_model" 
            args="  -param robot_description 
                    -urdf 
                    -model dual
                    -J $(arg robot_name)shoulder_pan_joint -1.567  
                    -J $(arg robot_name)shoulder_lift_joint -0.767 
                    -J $(arg robot_name)elbow_joint -1.767 
                    -J $(arg robot_name)wrist_1_joint -2.367 
                    -J $(arg robot_name)wrist_2_joint 1.567 
                    -J $(arg robot_name)wrist_3_joint 0.0


                    -J $(arg robot_name)silder1_to_finger1 0.1
                    -J $(arg robot_name)silder2_to_finger2 -0.1     

                    -unpause
                    " 
            respawn="false" 
            output="screen" 
                    />


</launch>