<?xml version="1.0"?>
<launch>

    <arg name="robot1_name" default="left"/>
    <arg name="robot2_name" default="right"/>

    <arg name="activate_1" default="true"/>
    <arg name="activate_2" default="true"/>

    <arg name="robot1_ip" default="192.168.0.102"/>
    <arg name="robot2_ip" default="192.168.0.103"/>

    <arg name="use_tool_communication" default="false" doc="On e-Series robots tool communication can be enabled with this argument"/>

    <arg name="controller_config_file" default="$(find ur_robot_driver)/config/ur5e_controllers.yaml" doc="Config file used for defining the ROS-Control controllers."/>
    <arg name="controllers" default="joint_state_controller joint_group_pos_controller force_torque_sensor_controller" doc="Controllers that are activated by default."/>
    <arg name="stopped_controllers" default=""/>
    <!-- joint_group_vel_controller pos_joint_traj_controller -->

    <include file="$(find ur_pers_lib_pkg)/launch/urdf/dual.launch">
        <arg name="robot1_name" value="$(arg robot1_name)"/>
        <arg name="robot2_name" value="$(arg robot2_name)"/>
        <arg name="simulation" value="false"/>
        <arg name="robot1_active" value="$(arg activate_1)"/>
        <arg name="robot2_active" value="$(arg activate_2)"/>
    </include>

    <group  if ="$(arg activate_1)">
        <include file="$(find ur_robot_driver)/launch/ur_control.launch" ns="$(arg robot1_name)">
            <arg name="robot_name" value="$(arg robot1_name)"/>
            <arg name="robot_ip" value="$(arg robot1_ip)"/>
            <arg name="use_tool_communication" value="$(arg use_tool_communication)"/>
            <arg name="reverse_port" value="50001"/>
            <arg name="script_sender_port" value="50002"/>
            <arg name="trajectory_port" value="50003"/>
            <arg name="script_command_port" value="50004"/>
            <arg name="kinematics_config" default="$(find ur_pers_lib_pkg)/config/left_robot_calibration.yaml"/>
            <arg name="controllers" default="$(arg controllers)"/>
            <arg name="controller_config_file" value ="$(arg controller_config_file)"/>
            <arg name="stopped_controllers" value ="$(arg stopped_controllers)"/>
        </include>
    </group>

    <group  if ="$(arg activate_2)">
        <include file="$(find ur_robot_driver)/launch/ur_control.launch" ns="$(arg robot2_name)">
            <arg name="robot_name" value="$(arg robot2_name)"/>
            <arg name="robot_ip" value="$(arg robot2_ip)"/>
            <arg name="use_tool_communication" value="$(arg use_tool_communication)"/>
            <arg name="reverse_port" value="50005"/>
            <arg name="script_sender_port" value="50006"/>
            <arg name="trajectory_port" value="50007"/>
            <arg name="script_command_port" value="50008"/>
            <arg name="kinematics_config" default="$(find ur_pers_lib_pkg)/config/right_robot_calibration.yaml"/>
            <arg name="controllers" default="$(arg controllers)"/>
            <arg name="controller_config_file" value ="$(arg controller_config_file)"/>
            <arg name="stopped_controllers" value ="$(arg stopped_controllers)"/>
        </include>
    </group>
    
  <node name="joint_state_publisher_total" type="joint_state_publisher" pkg="joint_state_publisher" output="screen">
    <rosparam param="rate">500</rosparam>
    <!-- <rosparam param="source_list">[left/joint_states, right/joint_states] </rosparam> -->
    <rosparam param="source_list" subst_value="True">[$(arg robot1_name)/joint_states, $(arg robot2_name)/joint_states]</rosparam>
  </node>


</launch>