<?xml version="1.0"?>
<launch>

    <!-- these are the arguments you can pass this launch file, for example paused:=true -->

    <arg name = "robot1_name"   default = "left"/>
    <arg name = "robot2_name"   default = "right"/>
     
    <arg name="paused" default="true"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="rviz" default="false"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>


    <include file="$(find dual_arm_bringup)/launch/urdf/dual.launch">
        <arg name="robot1_name" value="$(arg robot1_name)"/>
        <arg name="robot2_name" value="$(arg robot2_name)"/>

        <arg name="robot1_x_pos" value="2.0"/>
        <arg name="robot1_y_pos" value="0.0"/>
        <arg name="robot1_z_pos" value="0.0"/>
        <arg name="robot1_roll" value="0.0"/>
        <arg name="robot1_pitch" value="0.0"/>
        <arg name="robot1_yaw" value="0.0"/>

        <arg name="robot2_x_pos" value="-2.0"/>
        <arg name="robot2_y_pos" value="0.0"/>
        <arg name="robot2_z_pos" value="0.0"/>
        <arg name="robot2_roll" value="0.0"/>
        <arg name="robot2_pitch" value="0.0"/>
        <arg name="robot2_yaw" value="0.0"/>

        <arg name="simulation" value="true"/>

    </include> 


    <include file="$(find dual_arm_bringup)/launch/controllers/sim_controller_spawn.launch">
        <arg name="robot_name" value="$(arg robot1_name)"/>
    </include>
    <include file="$(find dual_arm_bringup)/launch/controllers/sim_controller_spawn.launch">
        <arg name="robot_name" value="$(arg robot2_name)"/>
    </include>

    <include file="$(find robotiq_control)/launch/gripper_controller_spawn.launch">
        <arg name="gripper_name" value="$(arg robot1_name)_"/>
    </include>

    <include file="$(find robotiq_control)/launch/gripper_controller_spawn.launch">
        <arg name="gripper_name" value="$(arg robot2_name)_"/>
    </include>

  <!-- <node name="joint_state_publisher_total" type="joint_state_publisher" pkg="joint_state_publisher" output="screen">
    <rosparam param="rate">500</rosparam>
    <rosparam param="source_list" subst_value="True">[$(arg robot1_name)_joint_state_controller, $(arg robot2_name)_joint_state_controller]</rosparam>
  </node> -->





    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" value="$(find cable_model)/worlds/cable_push.world"/>
            <arg name="debug" value="$(arg debug)" />
            <arg name="gui" value="$(arg gui)" />
            <arg name="paused" value="$(arg paused)"/>
            <arg name="use_sim_time" value="$(arg use_sim_time)"/>
            <arg name="headless" value="$(arg headless)"/>
            <arg name="verbose" value="true" />
    </include>


    <group if="$(arg rviz)">
        <node type="rviz" name="rviz" pkg="rviz" />
      </group>

</launch>