<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dual">

  


    
    <xacro:arg name="simulation" default="true"/>


    <xacro:arg name="robot1_name" default="right"/>
    <xacro:arg name="robot2_name" default="left"/>
    <xacro:arg name="robot1_active" default="true"/>
    <xacro:arg name="robot2_active" default="true"/>

    <xacro:property name="robot1_prefix" value="$(arg robot1_name)_"/>
    <xacro:property name="robot2_prefix" value="$(arg robot2_name)_"/>

    <xacro:arg name="connected_to" default=""/> <!-- If using a different frame with ${connected_to} param, make sure 'world' frame exists in the TF tree -->


    <xacro:arg name="robot1_x_pos" default="-0.46"/>
    <xacro:arg name="robot1_y_pos" default="0.0"/>
    <xacro:arg name="robot1_z_pos" default="0.0"/>
    <xacro:arg name="robot1_roll"  default="0.0"/>
    <xacro:arg name="robot1_pitch" default="0.0"/>
    <xacro:arg name="robot1_yaw"   default="-1.57"/>

    <xacro:arg name="robot2_x_pos" default="0.46"/>
    <xacro:arg name="robot2_y_pos" default="0.0"/>
    <xacro:arg name="robot2_z_pos" default="0.0"/>
    <xacro:arg name="robot2_roll"  default="0.0"/>
    <xacro:arg name="robot2_pitch" default="0.0"/>
    <xacro:arg name="robot2_yaw"   default="1.57"/>
    
    <xacro:arg name="finger1" default="tactile5x5.STL"/>
    <xacro:arg name="finger2" default="tactile5x5.STL"/>

    <xacro:arg name="robot1_hw_interface" default="hardware_interface/PositionJointInterface"/>
    <xacro:arg name="robot2_hw_interface" default="hardware_interface/PositionJointInterface"/>
    <xacro:arg name="gripper_hw_interface" default="hardware_interface/PositionJointInterface"/>


    <!-- Include URDFs -->
    <xacro:include filename="$(find ur_description)/urdf/inc/ur5e_macro.xacro"/>
    <xacro:include filename="$(find robotiq_control)/urdf/hand_e/robotiq.xacro"/>


    <link name="world"/>

  <!-- Spawn the robots -->
    <xacro:macro name="ur_plus_robotiq" params="prefix parent robot_hw_interf gripper_hw_interf finger1_path='' finger2_path='' rpy:='0 0 0' xyz:='0 0 0' sim:='True'"> <!-- *origin-->

        <xacro:ur5e_robot prefix="${prefix}" 
                          transmission_hw_interface="${robot_hw_interf}"
        />

        <xacro:robotiq_hand_e gripper_name="${prefix}"
                        finger1_path="${finger1_path}"
                        finger2_path="${finger2_path}"
                        parent="${prefix}tool0"
                        xyz="0 0 0"
                        rpy="0 -1.57 0"
                        hardware_interface="${gripper_hw_interf}"
        />

        <joint name="${prefix}world_to_base" type="fixed">
            <parent link="world"/>
            <child link="${prefix}base_link"/>
            <origin xyz="${xyz}" rpy="${rpy}"/>
        </joint>

    </xacro:macro>

 
    <xacro:if value="$(arg robot1_active)">
        <xacro:ur_plus_robotiq  prefix="${robot1_prefix}" 
                                parent="world"
                                robot_hw_interf="$(arg robot1_hw_interface)"
                                gripper_hw_interf="$(arg gripper_hw_interface)"
                                finger1_path="$(arg finger1)" 
                                finger2_path="$(arg finger2)" 
                                xyz="$(arg robot1_x_pos) $(arg robot1_y_pos) $(arg robot1_z_pos)"
                                rpy="$(arg robot1_roll) $(arg robot1_pitch) $(arg robot1_yaw)"

        />
    </xacro:if>
    
    <xacro:if value="$(arg robot2_active)">
        <xacro:ur_plus_robotiq  prefix="${robot2_prefix}" 
                                parent="world" 
                                robot_hw_interf="$(arg robot2_hw_interface)"
                                gripper_hw_interf="$(arg gripper_hw_interface)"
                                finger1_path="$(arg finger1)" 
                                finger2_path="$(arg finger2)" 
                                xyz="$(arg robot2_x_pos) $(arg robot2_y_pos) $(arg robot2_z_pos)"
                                rpy="$(arg robot2_roll) $(arg robot2_pitch) $(arg robot2_yaw)"

        />
    </xacro:if>

        <!-- Load Gazebo lib and set the robot namespace -->
    
    <xacro:if value="$(arg simulation)">
        <gazebo>
            <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
                <robotNamespace></robotNamespace>
                <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
                <legacyModeNS>true</legacyModeNS>
            </plugin>
        </gazebo>
    </xacro:if>

    <gazebo reference="left_wrist_3_joint">  
    <provideFeedback>true</provideFeedback>
    </gazebo>
    <gazebo>
        <plugin name="ft_sensor" filename="libgazebo_ros_ft_sensor.so">
            <alwaysOn>true</alwaysOn>
            <updateRate>500.0</updateRate>
            <topicName>ft_sensor</topicName>
            <gaussianNoise>0.0</gaussianNoise>
            <jointName>left_wrist_3_joint</jointName>
        </plugin>
    </gazebo>


</robot>



 
